In [2]:
#Importação
import pandas as pd 
import numpy as np

In [3]:
dados = pd.DataFrame(np.random.randn(5, 5), columns=[*"ABCDE"], index = [*"abcde"])

In [4]:
dados

          A         B         C         D         E
a  1.251365  0.320908  1.334427 -1.016373  0.464360
b  0.429022  0.726723 -0.857913  0.742353  0.575248
c  0.033321  0.308466 -1.099397 -0.160390 -0.532632
d -1.271012 -0.571779  0.736862  0.268666  0.641587
e -1.060826  0.063456  0.910520  0.297049 -0.245962

In [19]:
# Seleção usando o loc (Seletor de rótulo e de índice)
#dados.loc[["a", "b"]]
#dados.loc["a":"c", "A"]
dados.loc["b":, "A":"C"]
#dados.loc[1]

          A         B         C
b  0.429022  0.726723 -0.857913
c  0.033321  0.308466 -1.099397
d -1.271012 -0.571779  0.736862
e -1.060826  0.063456  0.910520

In [20]:
dados_1 = dados.copy()

In [21]:
dados_1.index = [*range(1,6)]

In [23]:
dados_1.loc[1:5]

          A         B         C         D         E
1  1.251365  0.320908  1.334427 -1.016373  0.464360
2  0.429022  0.726723 -0.857913  0.742353  0.575248
3  0.033321  0.308466 -1.099397 -0.160390 -0.532632
4 -1.271012 -0.571779  0.736862  0.268666  0.641587
5 -1.060826  0.063456  0.910520  0.297049 -0.245962

In [42]:
dados

          A         B         C         D         E
a  1.251365  0.320908  1.334427 -1.016373  0.464360
b  0.429022  0.726723 -0.857913  0.742353  0.575248
c  0.033321  0.308466 -1.099397 -0.160390 -0.532632
d -1.271012 -0.571779  0.736862  0.268666  0.641587
e -1.060826  0.063456  0.910520  0.297049 -0.245962

In [51]:
# Seleção usando o iloc (Seletor por número da linha)
#dados.iloc[0:3]
#dados_1.iloc[0:1]
#dados.iloc[0:4][["A", "B"]]
dados.iloc[0:1, 0:6]

          A         B         C         D        E
a  1.251365  0.320908  1.334427 -1.016373  0.46436

In [ ]:
# Slice usando loc e iloc