In [5]:
# Importando as bibliotecas
import pandas as pd 
import numpy as np
import sys
import os

# Não esquecer de colocar o endereço de onde está a pasta com a base de dados, pois aqui estou colocando em absoluto pq estou com preguiça Hahahaha
sys.path.append("D:\\videos\\Pandas\\arquivos\\funcoes_curso")
from funcoes import importar_base

In [6]:
# Importando os dados em um dataframe
dados_alugueis = importar_base("houses_to_rent.csv")

In [7]:
# Podemos usar o head(qt Linhas) para termos os primeiros dados do DataFrame
dados_alugueis.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [27]:
# Usando o .sample para obter algum dado aleatório
dados_alugueis.sample(n=10, random_state=45)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
582,1,266,4,5,4,7,acept,not furnished,"R$2,900","R$10,900","R$1,167",R$139,"R$15,110"
3777,1,375,4,4,3,-,acept,not furnished,R$0,"R$6,400",R$75,R$97,"R$6,572"
4954,0,70,1,1,1,2,acept,furnished,R$460,"R$2,350",R$6,R$30,"R$2,846"
1938,1,395,4,4,3,16,acept,furnished,"R$2,137","R$15,000",R$834,R$191,"R$18,160"
3202,1,23,1,1,0,23,acept,not furnished,R$382,"R$2,100",R$40,R$27,"R$2,549"
5710,1,20,1,1,0,1,not acept,not furnished,R$0,"R$1,100",R$35,R$14,"R$1,149"
4348,0,148,3,2,0,14,acept,not furnished,R$610,"R$1,700",R$102,R$22,"R$2,434"
1277,1,85,2,1,0,4,acept,furnished,R$620,"R$2,190",R$0,R$28,"R$2,838"
3233,1,75,1,2,0,4,acept,not furnished,R$260,"R$2,100",R$0,R$27,"R$2,387"
3635,1,320,4,6,4,4,acept,not furnished,"R$5,400","R$15,000",R$175,R$191,"R$20,770"

In [29]:
# Usando o .shape para saber o tamanho da base de dados
dados_alugueis.shape

(6080, 13)

In [30]:
# Usando o .info para saber as características das colunas da base de dados
# Tipos
# - Float64 - Valores de ponto flutuante
# - Int64 - Valores numéricos inteiros
# - Object ou Categorical - Valores categóricos
dados_alugueis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6080 entries, 0 to 6079
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            6080 non-null   int64
 1   area            6080 non-null   int64
 2   rooms           6080 non-null   int64
 3   bathroom        6080 non-null   int64
 4   parking spaces  6080 non-null   int64
 5   floor           6080 non-null   object
 6   animal          6080 non-null   object
 7   furniture       6080 non-null   object
 8   hoa             6080 non-null   object
 9   rent amount     6080 non-null   object
 10  property tax    6080 non-null   object
 11  fire insurance  6080 non-null   object
 12  total           6080 non-null   object
dtypes: int64(5), object(8)
memory usage: 825.0+ KB

In [38]:
# Usando o .describe para ver os dados numéricos da base
# usando o parâmetro include para separar determinados valores de strings (np.object) e numéricos (np.number)
dados_alugueis.describe(include=[np.object]).T

               count unique            top  freq
floor           6080     37              -  1555
animal          6080      2          acept  4666
furniture       6080      2  not furnished  4498
hoa             6080   1292            R$0  1291
rent amount     6080   1032       R$15,000   155
property tax    6080   1036            R$0  1053
fire insurance  6080    190           R$23   163
total           6080   4069        R$2,555    35

In [41]:
# Usando o parâmetro percentiles para ter a faixa dos percentis dos dados
dados_alugueis.describe(
    percentiles=[
       0.01, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.99
    ]
).T

,count,mean,std,min,1%,10%,20%,30%,40%,50%,60%,70%,80%,90%,99%,max
city,6080.0,0.863322,0.343535,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.00,1.0
area,6080.0,151.143914,375.559485,10.0,20.0,40.0,50.0,63.7,79.6,100.0,130.0,170.0,220.0,300.0,641.05,24606.0
rooms,6080.0,2.492599,1.129665,1.0,1.0,1.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,5.00,10.0
bathroom,6080.0,2.341612,1.438860,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,4.0,6.00,10.0
parking spaces,6080.0,1.756250,1.611909,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,2.0,3.0,4.0,8.00,12.0