In [1]:
# Adicionar o caminho para importar os métodos em funcoes_curso, ao qual está
#duas pastas acima
import sys
sys.path.append("../../")

In [3]:
#Importando o pandas e o numpy
import pandas as pd 
import numpy as np
# Só funcionará se rodar o primeiro boco de código
from funcoes_curso.funcoes import importar_base

In [3]:
# Importando os dados houses_to_rent.csv
alugueis = importar_base("houses_to_rent.csv")

In [14]:
# Usando head
type(alugueis.head(1))

pandas.core.frame.DataFrame

In [25]:
# Comparando seleção do head com loc
x = alugueis.loc[:20]

In [28]:
x.head(5).head(1)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"

In [34]:
# Contando valores usando value_counts
alugueis.area.value_counts()

50     183
60     157
70     155
100    151
200    135
      ...
465      1
445      1
417      1
385      1
12       1
Name: area, Length: 435, dtype: int64

In [62]:
# Selecionando usando sample
alugueis.sample(n=5, random_state=438)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
4016,4016,0,135,2,2,2,2,acept,not furnished,"R$1,175","R$3,800",R$255,R$49,"R$5,279"
1511,1511,1,93,3,2,2,7,acept,not furnished,R$750,"R$2,200",R$84,R$28,"R$3,062"
1941,1941,0,297,4,6,2,3,acept,not furnished,"R$2,800","R$2,800",R$433,R$36,"R$6,069"
3333,3333,1,25,1,1,0,2,not acept,not furnished,R$160,R$620,R$15,R$8,R$803
2894,2894,0,87,3,2,1,12,acept,furnished,R$870,"R$1,450",R$100,R$19,"R$2,439"