In [2]:
# Adicionando o path para incluir o pacote de funções
import sys
sys.path.append("../../")

In [3]:
# Importando os pacotes
import pandas as pd
import numpy as np
from funcoes_curso.funcoes import importar_base

In [4]:
# Selecionando os dados da base houses_to_rent.csv
base_alugueis = importar_base("houses_to_rent.csv")

In [5]:
base_copia = base_alugueis.copy(deep = True)

In [5]:
base_copia.head(5)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [39]:
# Adicionar coluna através do nome da coluna (igual adicionar um valor numa lista)
base_copia["nova_coluna"] = 78

In [40]:
base_copia.head(3)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,nova_coluna
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",78
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",78
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",78

In [42]:
# Adicionar coluna via atributo
base_copia.nova_coluna_atributo = 10

In [46]:
#base_copia.nova_coluna_atributo
#type(base_copia.nova_coluna)
type(base_copia.nova_coluna_atributo)

int

In [16]:
# Adicionar coluna via append
base_copia.append({"Churros": 90}, ignore_index=True).head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,Churros
0,0.0,1.0,240.0,3.0,3.0,4.0,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",NaN
1,1.0,0.0,64.0,2.0,1.0,1.0,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",NaN
2,2.0,1.0,443.0,5.0,5.0,4.0,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",NaN
3,3.0,1.0,73.0,2.0,2.0,1.0,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",NaN
4,4.0,1.0,19.0,1.0,1.0,0.0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",NaN

In [17]:
base_copia.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [18]:
# Diferença entre adicionar via "lista" e via método assign
# Lista
base_copia["Churros"] = "Zuruba"

In [21]:
base_copia.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,Churros
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",Zuruba
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",Zuruba
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",Zuruba
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",Zuruba
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",Zuruba

In [20]:
# Assign
base_copia.assign(nova_coluna = 78.9)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,Churros,nova_coluna
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",Zuruba,78.9
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",Zuruba,78.9
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",Zuruba,78.9
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",Zuruba,78.9
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",Zuruba,78.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585",Zuruba,78.9
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768",Zuruba,78.9
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255",Zuruba,78.9
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803",Zuruba,78.9
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414",Zuruba,78.9

In [25]:
# Selecionando os dados via loc, somando e adicionando o resultado via assign ou "lista"
base_copia["soma_doida"] = base_copia.rooms + base_copia.bathroom

In [28]:
colunas = ["rooms", "bathroom", "soma_doida"]

base_copia.loc[:5, colunas]

   rooms  bathroom  soma_doida
0      3         3           6
1      2         1           3
2      5         5          10
3      2         2           4
4      1         1           2
5      1         1           2

In [27]:
# Exemplo simples de lambda em assign