In [21]:
#Importando as bibliotecas
import pandas as pd 
import numpy as np

In [22]:
# Abrindo o arquivo da base de aluguel
import os
from pathlib import Path
p = Path(os.getcwd())
pasta_bases = str(p.parent.parent) + "\\bases\\"
alugueis = pd.read_csv(pasta_bases + "alugueis\\houses_to_rent.csv")

In [23]:
alugueis.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [36]:
#alugueis["hoa_tratado"] = alugueis["hoa"].apply(lambda x: x.replace("R$", "").replace(",", ""))
#alugueis[["hoa", "rent amount", "property tax"]].applymap(lambda x: x.replace("R$", "").replace(",", ""))

       hoa rent amount property tax
0        0        8000         1000
1      540         820          122
2     4172        7000         1417
3      700        1250          150
4        0        1200           41
...    ...         ...          ...
6075   420        1150            0
6076   768        2900           63
6077   250         950           42
6078     0        3500          250
6079   489        1900            0

[6080 rows x 3 columns]

In [37]:
del alugueis["hoa"]

In [38]:
alugueis.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,rent amount,property tax,fire insurance,total,hoa_tratado
0,0,1,240,3,3,4,-,acept,furnished,"R$8,000","R$1,000",R$121,"R$9,121",0
1,1,0,64,2,1,1,10,acept,not furnished,R$820,R$122,R$11,"R$1,493",540
2,2,1,443,5,5,4,3,acept,furnished,"R$7,000","R$1,417",R$89,"R$12,680",4172
3,3,1,73,2,2,1,12,acept,not furnished,"R$1,250",R$150,R$16,"R$2,116",700
4,4,1,19,1,1,0,-,not acept,not furnished,"R$1,200",R$41,R$16,"R$1,257",0