In [ ]:
# Página do download dos dados no Kaggle
# https://www.kaggle.com/rubenssjr/brasilian-houses-to-rent?select=houses_to_rent.csv

In [1]:
# Importando as bibliotecas
import pandas as pd 
import numpy as np
import sys
import os

sys.path.append("D:\\videos\\Pandas\\arquivos\\funcoes_curso")
from funcoes import importar_base

In [16]:
# Abrindo a base de dados
dados_alugueis = importar_base("houses_to_rent.csv")

In [3]:
dados_alugueis.head(2)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"

In [17]:
dados_alugueis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6080 entries, 0 to 6079
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            6080 non-null   int64
 1   area            6080 non-null   int64
 2   rooms           6080 non-null   int64
 3   bathroom        6080 non-null   int64
 4   parking spaces  6080 non-null   int64
 5   floor           6080 non-null   object
 6   animal          6080 non-null   object
 7   furniture       6080 non-null   object
 8   hoa             6080 non-null   object
 9   rent amount     6080 non-null   object
 10  property tax    6080 non-null   object
 11  fire insurance  6080 non-null   object
 12  total           6080 non-null   object
dtypes: int64(5), object(8)
memory usage: 665.0+ KB

In [4]:
# Podemos criar um dicionário de dados e salvá-los na pasta dos arquivos
# 1 - Cada coluna da biblioteca, a descrição da coluna da base

b1 = {
    "city": ["Cidade onde o imóvel está localizado"],
    "area": ["Área, em m², do imóvel"],
    "rooms": ["Quantidade de quartos"]
}

In [5]:
b1_df = pd.DataFrame(b1)

In [8]:
b1_df.to_csv("Biblioteca V1.csv")

In [9]:
# Cada coluna, uma característica
b2 = {
    "nome_coluna": ["city", "area", "rooms"],
    "descricao": ["Cidade onde o imóvel está localizado", "Área, em m², do imóvel", "Quantidade de quartos"],
    "tipo_dado": ["Numérico (catergórico)", "Numérico", "Quantitativo"],
    "tipo_dado_np": ["Int64", "Int64", "Int64"]

}

In [10]:
b2_df = pd.DataFrame(b2)

In [12]:
b2_df.to_csv("Biblioteca V2.csv")

In [ ]:
# Salvando o arquivo na pasta da base de alugéis (o formato será em csv)