In [31]:
# Adicionando o path para incluir o pacote de funções
import sys
sys.path.append("../../")

In [32]:
# Importando os pacotes
import pandas as pd
import numpy as np
from funcoes_curso.funcoes import importar_base

In [33]:
# Selecionando os dados da base houses_to_rent.csv
base_alugueis = importar_base("houses_to_rent.csv")

In [47]:
base_copia = base_alugueis.copy(deep = True)

In [48]:
base_copia.head(5)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [39]:
# Adicionar coluna através do nome da coluna (igual adicionar um valor numa lista)
base_copia["nova_coluna"] = 78

In [40]:
base_copia.head(3)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,nova_coluna
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",78
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",78
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",78

In [42]:
# Adicionar coluna via atributo
base_copia.nova_coluna_atributo = 10

In [46]:
#base_copia.nova_coluna_atributo
#type(base_copia.nova_coluna)
type(base_copia.nova_coluna_atributo)

int

In [50]:
# Adicionar coluna via append
base_copia.append({"Churros", 90})

TypeError: cannot concatenate object of type '<class 'set'>'; only Series and DataFrame objs are valid

In [25]:
# Diferença entre adicionar via "lista" e via método assign