In [3]:
# DataFrames
# Importando as bibliotecas
import pandas as pd 
import numpy as np

In [12]:
# Criando um dataframe com listas/dicionários
s1 = pd.Series([1, 2, 3, 4], name="c1")
s2 = pd.Series([10, 20, 30, 40], name="c2")

pd.DataFrame({s1.name: s1, s2.name:s2})

   c1  c2
0   1  10
1   2  20
2   3  30
3   4  40

In [13]:
# Criando dataframe com colunas diferentes (Número e tipo)
s1 = pd.Series([1, 2, 3], name="c1")
s2 = pd.Series([10, 20, 30, 40], name="c2")

pd.DataFrame({s1.name: s1, s2.name:s2})

    c1  c2
0  1.0  10
1  2.0  20
2  3.0  30
3  NaN  40

In [14]:
df = pd.DataFrame({s1.name: s1, s2.name:s2})

In [20]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [31]:
# Construtores com listas mutáveis / imutáveis
l1 = [1000, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50]

dic = {"a": l1, "b":l2}

In [33]:
dic

{'a': [1000, 2, 3, 4, 5], 'b': [10, 20, 30, 40, 50]}

In [32]:
l1[0] = 1000

In [29]:
x = pd.DataFrame(dic)

In [34]:
x

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50