In [5]:
# Adicionando o path para incluir o pacote de funções
import sys
sys.path.append("../../")

In [6]:
# Importando os pacotes
import pandas as pd
import numpy as np
from funcoes_curso.funcoes import importar_base

In [7]:
# Selecionando os dados da base houses_to_rent.csv
base_alugueis = importar_base("houses_to_rent.csv")

In [8]:
base_copia = base_alugueis.copy(deep = True)

In [9]:
# Selecionando os dados via loc, somando e adicionando o resultado via assign ou "lista"
base_copia["soma_doida"] = base_copia.rooms + base_copia.bathroom

In [10]:
colunas = ["rooms", "bathroom", "soma_doida"]

base_copia.loc[:5, colunas]

   rooms  bathroom  soma_doida
0      3         3           6
1      2         1           3
2      5         5          10
3      2         2           4
4      1         1           2
5      1         1           2

In [27]:
# Exemplo simples de lambda em assign

In [13]:
base_copia.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,soma_doida
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",6
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",3
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",10
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",4
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",2

In [15]:
# Função para passar para o assign
def funcao_multiplicacao(df):
    return df.area * df.rooms

In [17]:
base_copia.assign(multiplicacao = funcao_multiplicacao).loc[:5, ["area", "rooms", "multiplicacao"]]

   area  rooms  multiplicacao
0   240      3            720
1    64      2            128
2   443      5           2215
3    73      2            146
4    19      1             19
5    13      1             13

In [20]:
# Utulizando um lambda
base_copia.assign(soma_lambda = lambda x: x.rooms + x.bathroom,
multiplicacao = funcao_multiplicacao).loc[:5,:]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,soma_doida,soma_lambda,multiplicacao
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",6,6,720
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",3,3,128
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",10,10,2215
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",4,4,146
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",2,2,19
5,5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270",2,2,13

In [12]:
help(base_copia.assign)

Help on method assign in module pandas.core.frame:

assign(**kwargs) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Assign new columns to a DataFrame.

    Returns a new object with all original columns in addition to new ones.
    Existing columns that are re-assigned will be overwritten.

    Parameters
    ----------
    **kwargs : dict of {str: callable or Series}
        The column names are keywords. If the values are
        callable, they are computed on the DataFrame and
        assigned to the new columns. The callable must not
        change input DataFrame (though pandas doesn't check it).
        If the values are not callable, (e.g. a Series, scalar, or array),
        they are simply assigned.

    Returns
    -------
    DataFrame
        A new DataFrame with the new columns in addition to
        all the existing columns.

    Notes
    -----
    Assigning multiple columns within the same ``assign`` is possible.
    Later items in '\*\*kwargs' may refer to newly created or modified
    columns in 'df'; items are computed and assigned into 'df' in order.

    .. versionchanged:: 0.23.0

       Keyword argument order is maintained.

    Examples
    --------
    >>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
    ...                   index=['Portland', 'Berkeley'])
    >>> df
              temp_c
    Portland    17.0
    Berkeley    25.0

    Where the value is a callable, evaluated on `df`:

    >>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
              temp_c  temp_f
    Portland    17.0    62.6
    Berkeley    25.0    77.0

    Alternatively, the same behavior can be achieved by directly
    referencing an existing Series or sequence:

    >>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
              temp_c  temp_f
    Portland    17.0    62.6
    Berkeley    25.0    77.0

    You can create multiple columns within the same assign where one
    of the columns depends on another one defined within the same assign:

    >>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
    ...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
              temp_c  temp_f  temp_k
    Portland    17.0    62.6  290.15
    Berkeley    25.0    77.0  298.15