In [1]:
# importando as bibliotecas
import pandas as pd
import numpy as np

In [12]:
# Criando Series
# Listas
# pd.Series([1, 63, 55, 88, 10]) dtype = int64
# pd.Series([1, 5, 7, 6.3]) dtype = float64
# pd.Series([1, 2, 99, 6.5, "90"]) dtyle = object
pd.Series({"a": 12, "b": 90, "d":123})

a     12
b     90
d    123
dtype: int64

In [11]:
# Índices
# pd.Series(np.random.randn(5), index = ["a", "b", "c", "d", "e"])

a   -1.404720
b    0.024316
c   -0.025871
d   -0.290572
e    0.616097
dtype: float64

In [13]:
# Acessa as informações
# Series como dicionários
s = pd.Series({"a": 12, "b": 90, "d":123})

In [19]:
s

a     12
b     90
d    123
dtype: int64

In [30]:
# Acessar como listas
s[1:4]

b     90
d    123
dtype: int64

In [34]:
s[["a", "d"]]

a     12
d    123
dtype: int64

In [2]:
serieComNome = pd.Series(np.random.randn(5), name = "valores")

In [36]:
serieComNome

0   -0.671231
1    0.021048
2    1.621931
3   -0.487630
4   -0.283365
Name: valores, dtype: float64

In [12]:
# Series como arrays
type(serieComNome.to_numpy())

numpy.ndarray

In [13]:
# Operações matemáticas
a = pd.Series(np.random.randn(5))
b = pd.Series(np.random.randn(5))

In [16]:
a

0   -0.150815
1    2.138806
2   -1.598886
3    1.410610
4   -0.240781
dtype: float64

In [23]:
b

0   -0.035791
1   -0.490892
2   -0.313178
3    0.040523
4   -0.831778
dtype: float64

In [28]:
np.std(b)

0.31677306956699536

In [37]:
# Filtros
type([True, False, False, True, False])

list

In [38]:
# Abrindo o arquivo da base de aluguel
import os
from pathlib import Path
p = Path(os.getcwd())
pasta_bases = str(p.parent.parent) + "\\bases\\"
alugueis = pd.read_csv(pasta_bases + "alugueis\\houses_to_rent.csv")

In [52]:
alugueis["rent amount"].dtype

dtype('O')

In [53]:
alugueis["rooms"].dtype

dtype('int64')