In [1]:
# Importando os dados
import pandas as pd
import numpy as np
import os
import sys

sys.path.append("D:\\videos\\Pandas\\arquivos\\funcoes_curso")
from funcoes import importar_base 
dados_alugueis = importar_base("houses_to_rent.csv")

In [2]:
# Visualizando as primeiras linhas e obtendo os dados sumarizados usando o .describe(incluide='all')
dados_alugueis.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [21]:
# Analisando o porquê a coluna "floor" está sendo considerada como texto
dados_alugueis.floor.unique()

array(['-', '10', '3', '12', '2', '16', '6', '4', '1', '7', '13', '9',
       '14', '5', '8', '15', '11', '19', '20', '24', '23', '17', '18',
       '22', '27', '85', '28', '25', '29', '35', '21', '31', '99', '26',
       '68', '32', '51'], dtype=object)

In [29]:
dados_alugueis_copia = dados_alugueis.copy()

In [31]:
# Substituição do traço da coluna floor
dados_alugueis_copia[dados_alugueis_copia.floor == '-'].floor = 0

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [5]:
dados_alugueis.describe(include='all')

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
count,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080,6080,6080,6080,6080,6080,6080,6080
unique,NaN,NaN,NaN,NaN,NaN,37,2,2,1292,1032,1036,190,4069
top,NaN,NaN,NaN,NaN,NaN,-,acept,not furnished,R$0,"R$15,000",R$0,R$23,"R$2,555"
freq,NaN,NaN,NaN,NaN,NaN,1555,4666,4498,1291,155,1053,163,35
mean,0.863322,151.143914,2.492599,2.341612,1.756250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.343535,375.559485,1.129665,1.438860,1.611909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,10.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.000000,58.000000,2.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.000000,100.000000,3.000000,2.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,200.000000,3.000000,3.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,24606.000000,10.000000,10.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
# Criando cópia dos dados e renomeando as colunas para nomes mais atraentes e legíveis usando o atributo
# ou o dicionário com as novas colunas usando o método rename

In [ ]:
# Selecionando somente as colunas com dados do typo object para usar o mapapply

In [ ]:
# "Automatizando" a seleção dos dados do tipo object